* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar content';
}

.header {
    grid-area: header;
    padding: 10px;
}

.sidebar {
    grid-area: sidebar;
    gap: 15px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #84cc16;
}

.menu {
    align-self: center;
    justify-self: end;
}

.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu ul,
.menu li {
    font-size: 18px;
    list-style-type: none;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        'projects announcements'
        'projects trending';
    overflow: auto;
    gap: 5px;
    background-color: #bccbde;
}

.projects {
    grid-area: projects;
}

.projects-title {
    text-align: left;
    font-size: 20px;
}
  
.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 10px;
}

.projects .card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
}
  
.c-title {
    font-size: 18px;
    text-align: center;
}

.c-text {
    padding: 5px;
    font-weight: normal;
    font-size: 14px;
}

.announcements {
    grid-area: announcements;
}

.a-main-title {
    font-size: 20px;
    text-align: center;
}

.a-box {
    
}

.a-title {
    font-size: 18px;
    text-align: center;
}

.a-text {
    padding: 5px;
    font-weight: normal;
    font-size: 14px;
}