* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
    text-align: center;
}

.header {
    display: grid;
    grid-column: 2 / 3;
}

.sidebar {
    display: grid;
    grid-row-start: 2;
    gap: 50px;
    background-color: #84cc16;
}

.menu {
    align-self: center;
    justify-self: end;
}

.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu ul,
.menu li {
    font-size: 18px;
    list-style-type: none;
}