html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
  
ul {
    list-style: none;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar content';
}

.header {
    grid-area: header;
    padding: 10px;
}

.top {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 25px;
}

.search {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
}

.search label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    font-size: 28px;
}

.search > #search {
    display: inline-block;
    border: 0;
    background-color: rgb(220, 218, 218);
    padding: 10px 30px;
    outline-color: rgb(4, 4, 165);
    margin-left: 15px;
    border-radius: 100px;
    width: min(80%, 750px);
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    gap: 15px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #84cc16;
}

.side-title {
    display: flex;
    align-items: center;
    font-size: 28px;
    gap: 10px;
}

.nav {
    font-size: 24px;
    margin-top: 30px;
    display: grid;
    gap: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        'projects announcements'
        'projects trending';
    overflow: auto;
    gap: 5px;
    background-color: #bccbde;
}

.projects {
    grid-area: projects;
}

.projects-title {
    text-align: left;
    font-size: 20px;
}
  
.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 10px;
}

.projects .card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
}
  
.c-title {
    font-size: 18px;
    text-align: center;
}

.c-text {
    padding: 5px;
    font-weight: normal;
    font-size: 14px;
}

.announcements {
    grid-area: announcements;
}

.a-main-title {
    font-size: 20px;
    text-align: center;
}

.a-box {
    
}

.a-title {
    font-size: 18px;
    text-align: center;
}

.a-text {
    padding: 5px;
    font-weight: normal;
    font-size: 14px;
}